
<%= form_for(@recipe) do |f| %>
  <div id="page">
  <div id="page2">
  <%= render "shared/pd4Cabecalho" %>
  <%= render "shared/pd4menu" %>
  <h1>
    <div id="h1-receita">Receita</div>
    <div id="h1-titulo" class="field">
    <%= f.text_field :title, :class => 'h1-titulo-texto' %></div>
  </h1>
  <p></p>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <br>


  <div id="content">
    <div id="content-serves">
      <table id="table-serves">
        <tr>
          <td>
            Tempo de Preparação
          </td>
          <td>
            Tempo de Cozedura
          </td>
          <td>
            Ingredientes para 
          </td>
        </tr>
        <tr>
          <td><%= f.text_field :preparationTime %> minutos</td>
          <td><%= f.text_field :cookingTime %> minutos</td>
          <td><%= f.text_field :serves %> pessoas</td>
        </tr>
      </table>
    </div>
</div>

<table>
<tr><td>Ingrediente</td><td>Quantidade</td><td></td><td></td></tr>    
<%# byebug %>

   <%= f.fields_for(:recipe_ingredients) do |builder| %>  
    <%= render 'recipe_ingredients', :f => builder %> 
   <% end %>
</table>

<div class="fields">  
<%=  link_to_add_fields2 "Adiciona ingredientes", f, :recipe_ingredients %></p>
</div>

<table>
   <%= f.fields_for(:recipe_procedures) do |builder| %>  
    <%= render 'recipe_procedures', :f => builder %> 
  <% end %>
</table>

<div class="fields">  
<%=  link_to_add_procedure "Adiciona Prodedimento", f, :recipe_procedures %></p>
</div>


  
  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
  </div>

<% end %>

