<%= form_for(@recipe) do |f| %>

  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.text_field :title %>
  </div>
  <table>
  <tr>
    <td>
  <div class="field">
    <%= f.label 'Tempo de Preparação'%><br>
    <%= f.text_field :preparationTime %>
  </div>      
    </td>
    <td>
   <div class="field">
    <%= f.label 'Tempo de Cozedura' %><br>
    <%= f.text_field :cookingTime %>
  </div>     
    </td>
    <td>
   <div class="field">
    <%= f.label "Ingredientes para "%><br>
    <%= f.text_field :serves %>
    pessoas
  </div>
    </td>
  </tr>
</table>
   <%= f.fields_for(:recipe_ingredients) do |ff| %>  
    <div>
      <%= ff.text_field :ingredient_id %>
    </div>
    <div>
      <%= ff.text_field :amout %>
    </div>
  <% end %>
</table>
  <div class="field">
    <%= f.label 'Procedimento' %><br>
    <%= f.text_area :procedure %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
