<tr>
    <td>
        <%= f.select :ingredient_id, Ingredient.order(:description).collect {|s|  [(s.description), s.id  ]}, { }, {  :class =>"cb_ingredient"} %>
    </td>
    <td>
       <%= f.text_field :amout, :class => "recipe_ingredients_amout"%>
    </td>
     <td class ='recipe_ingredients_measurment_unit'>
     <% if not f.object.nil? -%>     
        <% if f.object.amout == 1 -%>
            <%= f.object.ingredient.measurement_unit.Unit rescue " - " %>
        <% else %>
            <%= f.object.ingredient.measurement_unit.Unit_plural  rescue " - "  %> 
        <% end -%>          
    <% end %>
     </td>
    <td>  
      <%= f.check_box :_destroy %> 
      apagar
    </td>
</tr>