<html>
<p id="notice"><%= notice %></p>
<head>
<title>Receitas</title>
</head>
<body> 
  <div id="page">
  <div id="page2">
  <div id="header">
    <%= image_tag("logo.jpg", :class => "logo")%>
    <div id="header-title">PD4</div>
  </div>
  <%= render "shared/pd4menu" %>
  <h1>
    <div id="h1-entidade">Receitas</div>
  </h1>
  <p></p>
<br>
<br>
<table>
  <thead>
    <tr>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.title %></td>
        <td><%= link_to 'Mostrar', recipe %></td>
        <td><%= link_to 'Editar', edit_recipe_path(recipe) %></td>
        <td><%= link_to 'Apagar', recipe, method: :delete, data: { confirm: 'Tem a certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Receita', new_recipe_path %>
  </div>
  </div>
  </div>
</body>
</html>
