<%= form_for(@recipe) do |f| -%>
  
  <h1><%= @recipe.title -%></h1>
  <%= f.fields_for :recipe_ingredients do |ff| %>
    <div>
      <%= f.label :ingredient_id %><br>
      <%= ff.text_field :ingredient_id %>
    </div>
    <div>
      <%= f.label :amout %><br>
      <%= ff.text_field :amout %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end -%>.



