<p id="notice"><%= notice %></p>
    <%= @recipe.title %>
  <table>
  <tr>
    <td>
    Tempo de Preparação
    </td>
    <td>
    Tempo de Cozedura
    </td>
    <td>
    Ingredientes para 

    </td>
  </tr>
  <tr>
    <td><%= @recipe.preparationTime %></td>
    <td> <%= @recipe.cookingTime %></td>
    <td><%= @recipe.serves %>pessoas</td>
  </tr>
  
</table>

<table>
  <tr>
    <th>Ingrediente</th>
    <th>Quantidade</th>
    <th></th>
  </tr>
   <% @recipe.recipe_ingredients.each do |ff| %>
    <tr>
    <td>
    <div>
      <%= ff.ingredient.description %>
    </div>
    </td>
    <td>
    <div>
      <%= ff.amout %>
    </div>
    </td>
    <td>
    <div>
      <%= ff.ingredient.measurement_unit_id %>
    </div>
    </td>
    </tr>
  <% end %>
</table>

<%= @recipe.procedure %>


<%= link_to 'Editar', edit_recipe_path(@recipe) %> |
<%= link_to 'Voltar', recipes_path %>
