<html>
<p id="notice"><%= notice %></p>
<head>
<title>Receita</title>
</head>
<body> 
  <div id="page">
  <div id="page2">
  <div id="header">
    <%= image_tag("logo.jpg", :class => "logo")%>
    <div id="header-title">PD4</div>
  </div>
  <%= render "shared/pd4menu" %>
  <h1>
    <div id="h1-receita">Receita</div>
    <div id="h1-titulo"><%= @recipe.title %></div>
  </h1>
  <p></p>
  <div id="content">
    <div id="content-serves">
      <table id="table-serves">
        <tr>
          <td>
            Tempo de Preparação
          </td>
          <td>
            Tempo de Cozedura
          </td>
          <td>
            Ingredientes para 
          </td>
        </tr>
        <tr>
          <td><%= @recipe.preparationTime %> minutos</td>
          <td><%= @recipe.cookingTime %> minutos</td>
          <td><%= @recipe.serves %> pessoas</td>
        </tr>
      </table>
    </div>
    <div id="content-procedimento">
      <h3>Procedimento</h3>
      <div class="boxed">
        <%= simple_format(@recipe.procedure) %>
      </div>
    </div>
    <div id="content-ingredientes">
      <h3>Ingredientes</h3>
        <% @recipe.recipe_ingredients.each do |ff| %>
      <ul>
        <li>
          <%= ff.ingredient.description %>
          -<%= ff.amout %>
          -<%= ff.ingredient.measurement_unit.Unit %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  </div>
  </div>
</body>
</html>