<%= form_for(@measurement_unit) do |f| %>
<body> 
  <div id="page">
  <div id="page2">
  <div id="header">
    <%= image_tag("logo.jpg", :class => "logo")%>
    <div id="header-title">PD4</div>
  </div>
<%= render "shared/pd4menu" %>
  <p></p><p></p><p></p>
  <% if @measurement_unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@measurement_unit.errors.count, "error") %> prohibited this measurement_unit from being saved:</h2>

      <ul>
      <% @measurement_unit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <br>
  <div class="field">
    <%= f.label "Unidade" %><br>
    <%= f.text_field :Unit %>
  </div>
  <br>
  <div class="field">
    <%= f.label "Simbolo" %><br>
    <%= f.text_field :Symbol %>
  </div>
  <div class="actions">
    <%= f.submit%>
  </div>
  
  </div>
  </div>
</body>  
<% end %>
