<h1>Listing measurement_units</h1>

<table>
  <thead>
    <tr>
      <th>Unit</th>
      <th>Symbol</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @measurement_units.each do |measurement_unit| %>
      <tr>
        <td><%= measurement_unit.Unit %></td>
        <td><%= measurement_unit.Symbol %></td>
        <td><%= link_to 'Show', measurement_unit %></td>
        <td><%= link_to 'Edit', edit_measurement_unit_path(measurement_unit) %></td>
        <td><%= link_to 'Destroy', measurement_unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Measurement unit', new_measurement_unit_path %>
