<h1>Unidades de Medida</h1>

<table>
  <thead>
    <tr>
      <th>Unidades</th>
      <th>Simbolo</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @measurement_units.each do |measurement_unit| %>
      <tr>
        <td><%= measurement_unit.Unit %></td>
        <td><%= measurement_unit.Symbol %></td>
        <td><%= link_to 'Mostrar', measurement_unit %></td>
        <td><%= link_to 'Editar', edit_measurement_unit_path(measurement_unit) %></td>
        <td><%= link_to 'Apagar', measurement_unit, method: :delete, data: { confirm: 'Tem a certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Nova Unidade de Medida', new_measurement_unit_path %>
