<p id="notice"><%= notice %></p>

<p>
  <strong>Unidade de Medida:</strong>
  <%= @measurement_unit.Unit %>
</p>

<p>
  <strong>Simbolo:</strong>
  <%= @measurement_unit.Symbol %>
</p>

<%= link_to 'Editar', edit_measurement_unit_path(@measurement_unit) %> |
<%= link_to 'Retroceder', measurement_units_path %>
