<p id="notice"><%= notice %></p>

<body> 
  <div id="page">
  <div id="page2">
  <div id="header">
    <%= image_tag("logo.jpg", :class => "logo")%>
    <div id="header-title">PD4</div>
  </div>
  <%= render "shared/pd4menu" %>
  <p></p><p></p><p></p>
<p>
  <strong>Unidade de Medida:</strong>
  <%= @measurement_unit.Unit %>
</p>
<p>
  <strong>Unidade de Medida (plural):</strong>
  <%= @measurement_unit.Unit_plural %>
</p>

<p>
  <strong>Simbolo:</strong>
  <%= @measurement_unit.Symbol %>
</p>

<%= link_to 'Editar', edit_measurement_unit_path(@measurement_unit) %> |
<%= link_to 'Retroceder', measurement_units_path %>
  
  </div>
  </div>
</body>  