  <div id="page">
  <div id="page2">
  <div id="header">
    <%= image_tag("logo.jpg", :class => "logo")%>
    <div id="header-title">PD4</div>
  </div>
<%= form_for([@measurement_unit,@ingredient]) do |f| %>
  <%= render "shared/pd4menu" %>
  <p></p>
  <% if @ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ingredient.errors.count, "error") %> prohibited this ingredient from being saved:</h2>
      <ul>
      <% @ingredient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <br>
    <br>
    <div class="field">
    <%= f.label "Descrição" %><br>
    <%= f.text_field :description %>
  </div>
    <div class="field" select id="Unidade">
      <%= f.label "Unidade de Medida" %><br>
      <%= f.collection_select :measurement_unit_id, MeasurementUnit.order(:Unit),:id,:Unit, include_blank: true %>
     </div>
  <div class="field">
    <%= f.label "NDB No" %><br>
    <%= f.text_field :NDB_No %>
  </div>
   <a href="#" onclick="window.open('http://ndb.nal.usda.gov/ndb/foods', 'Pagina', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=YES, SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=770, HEIGHT=800');">Ingredientes USDA</a> 
  <br>
  <div class="field">
    <%= f.label "Peso em gramas na unidade de medida" %><br>
    <%= f.text_field :weight %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  <p></p>
<% end %>
  <h4>Importar Nutrientes</h4>
    <%= form_tag import_nutrients_ingredients_path do %>
    <%= submit_tag "Importar" %>
    <%= hidden_field_tag(:ingredient_id, @ingredient.id) %>
  <% end %>
  </div>
  </div>

