<title>Ingredientes</title>
<br>
<br>
<br>
<body> 
  <div id="page">
  <div id="page2">
  <div id="header">
    <%= image_tag("logo.jpg", :class => "logo")%>
    <div id="header-title">PD4</div>
  </div>
  <ul id="nav">
    <li><%= link_to 'Receitas', recipes_path %></li>
    <li><%= link_to 'Ingredientes', recipes_path %></li>
    <li><%= link_to 'Unidades de Medida', recipes_path %></li>
    <li><%= link_to 'Planeamento', recipes_path %></li>
  </ul>
  <h1>
    <div id="h1-receita">Ingredientes</div>
  </h1>  
  <p></p><p></p><p></p>
<table>
  <thead>
    <tr>
      <th>Ingrediente</th>
      <th>Unidade</th>
      <th>NDB_No</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @ingredients.each do |ingredient| %>
      <tr>
        <td><%= ingredient.description %></td>
        <td><%= MeasurementUnit.find_by_id(ingredient.measurement_unit_id).Unit %></td>
        <td><%= ingredient.NDB_No %></td>
        <td><%= link_to 'Mostrar', ingredient%></td>
        <td><%= link_to 'Editar', edit_ingredient_path(ingredient)%></td>
        <td><%= link_to 'Apagar', ingredient, method: :delete, data: { confirm: 'Tem a certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%-# link_to 'Novo Ingrediente', new_measurement_unit_ingredient_path(@measurement_unit) -%>

<%= link_to 'Novo Ingrediente', new_ingredient_path%>
  </div>
  </div>
