<h1>Ingredientes</h1>
<br>
<br>
<br>
<table>
  <thead>
    <tr>
      <th>Ingrediente</th>
      <th>Unidade</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @ingredients.each do |ingredient| %>
      <tr>
        <td><%= ingredient.description %></td>
        <td><%= MeasurementUnit.find_by_id(ingredient.measurement_unit_id).Unit %></td>
        <td><%= link_to 'Mostrar', ingredient%></td>
        <td><%= link_to 'Editar', edit_ingredient_path(ingredient)%></td>
        <td><%= link_to 'Apagar', ingredient, method: :delete, data: { confirm: 'Tem a certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%-# link_to 'Novo Ingrediente', new_measurement_unit_ingredient_path(@measurement_unit) -%>

<%= link_to 'Novo Ingrediente', new_ingredient_path%>
