<h1>Ingredientes em <%=@measurement_unit.Unit%> </h1>
<% if !@measurement_unit.ingredients.empty? %>
<table>
  <thead>
    <tr>
      <th>Measurment unit</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @ingredients.each do |ingredient| %>
      <tr>
        <td><%= ingredient.measurement_unit_id %></td>
        <td><%= ingredient.description %></td>
        <td><%= link_to 'Show', [@measurement_unit, ingredient] %></td>
        <td><%= link_to 'Edit', edit_measurement_unit_ingredient_path(@measurement_unit, ingredient) %></td>
        <td><%= link_to 'Destroy', [@measurement_unit, ingredient], :confirm => 'Tem a certeza?', :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p>Não existe ainda ingredientes em <%=@measurement_unit.Unit%>.</p>
<% end %>
<br>

<%= link_to 'Novo Ingrediente', new_measurement_unit_ingredient_path(@measurement_unit) %>

<%-# link_to 'Novo Ingrediente', new_ingredient_path -%>
