<p id="notice"><%= notice %></p>

<head>
<title>Ingrediente</title>
</head>
<body> 
  <div id="page">
  <div id="page2">
  <div id="header">
    <%= image_tag("logo.jpg", :class => "logo")%>
    <div id="header-title">Ingrediente</div>
  </div>
  <%= render "shared/pd4menu" %>
  <p></p>
  <div id="content">
    <div id="content-serves">
<p>
  <strong>Description:</strong>
  <%= @ingredient.description %>
</p>

<p>
  <strong>Measurement unit:</strong>
  <%= @ingredient.measurement_unit_id %>
</p>

<p>
  <strong>NDB_No:</strong>
  <%= @ingredient.NDB_No %>
</p>

<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> 
  </div>
  </div>
  <%= render 'nutritional_label' %> 
  </div>
  </div>
</body>
</html>


